<h6>Few more links</h6>
<ul class="menu">
    <li><a href="{{ '/implementations' | prepend: site.baseurl | prepend: site.url }}">Implementations</a></li>
    <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a></li>
    <li><a href="{{ '/news' | prepend: site.baseurl | prepend: site.url }}">News</a></li>
    <li><a href="{{ '/faq' | prepend: site.baseurl | prepend: site.url }}">Help / FAQ</a></li>    
    <li><a href="{{ '/updates' | prepend: site.baseurl | prepend: site.url }}">Subscribe</a></li>    
</ul>		
