<ul>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<li>
		<a target="_blank" href="https://tools.ietf.org/html/rfc8092">RFC 8092</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/implementations' | prepend: site.baseurl | prepend: site.url }}">Implementations</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/examples' | prepend: site.baseurl | prepend: site.url }}">Examples</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/talks' | prepend: site.baseurl | prepend: site.url }}">Talks</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/news' | prepend: site.baseurl | prepend: site.url }}">News</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/faq' | prepend: site.baseurl | prepend: site.url }}">FAQ</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/updates' | prepend: site.baseurl | prepend: site.url }}">Subscribe</a><span>/</span>
	</li>
</ul>
